<form method="post" action="{{ path('billet_ptb_delete', {'id': billet_ptb.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ billet_ptb.id) }}">
    <button class="btn">Delete</button>
</form>
