{% extends 'base.html.twig' %}

{% block title %}New BilletPtb{% endblock %}

{% block body %}
<div class="box box-default">
  <div class="box-header with-border">
    <!--a class="btn btn-info" href="{{ path('billet_ptb_index') }}">Retour</a-->
    <div class="col-md-6">
      <h4><i class="fa fa-plus"></i>&nbsp;<big>Créer un billet PTB</big></h4>
    </div>
  </div>
</div>
<div class="box box-solid box-primary">
    <div class="box-header">
        <h3 class="box-title">Ajouter des Billets PTB </h3>   
    </div>
    <div class="box-body">
      <div class="container">
        {{ include('billet_ptb/_form.html.twig') }}
      </div>
    </div>
</div>
{% endblock %}
