{% extends 'base.html.twig' %}

{% block title %}New BilletPtb{% endblock %}

{% block body %}
    <h1>Create new BilletPtb</h1>

    {{ include('billet_ptb/_form.html.twig') }}

<<<<<<< HEAD
    <a href="{{ path('billet_ptb_index') }}">back to list</a>
=======
    <a class="btn btn-info" role="button" href="{{ path('billet_ptb_index') }}">retour a la liste</a>
>>>>>>> 30cd1a1c165ebc07c54ef2ee611f269f2a59cb83
{% endblock %}
