{% extends 'base.html.twig' %}

{% block title %}New BilletPtb{% endblock %}

{% block body %}
<div class="box box-default">
          <div class="box-header with-border">
            <a class="btn btn-info" href="{{ path('billet_ptb_index') }}">Retour</a>
          </div>
</div>
    <h1>Create new BilletPtb</h1>

    {{ include('billet_ptb/_form.html.twig') }}
{% endblock %}
