{{ form_start(formSection, {'action': path('section_event_modal_json_new'), 'attr': {'class': 'foSection'}}) }}
    {{ form_widget(formSection) }}
<button id="modSectionBtn" class="btn btn-info">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(formSection) }}
