<form method="post" action="{{ path('trajet_event_delete', {'id': trajet_event.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trajet_event.id) }}">
    <button class="btn">Delete</button>
</form>
