{{ form_start(formtr, {'attr': {'id': 'form_trajet'}, 'action': path('trajet_event_new')}  ) }}
    {{ form_widget(formtr) }}
<button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(formtr) }}



