{{ form_start(formTrajet, {'action': path('trajet_event_modal_json_new'), 'attr': {'class': 'foTrajet'}} ) }}
    {{ form_widget(formTrajet) }}
<button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(formTrajet) }}
