{% extends 'base.html.twig' %}

{% block title %}New Abonnement{% endblock %}

{% block body %}
    <h1>Creation d'un nouvel abonnement</h1>

    {{ include('abonnement/_form.html.twig') }}

    <div style="margin-top: 20px;">
        <a href="{{ path('abonnement_index') }}">back to list</a>
    </div>
{% endblock %}
