{% extends 'base.html.twig' %}

{% block title %}Edit StockTaxe{% endblock %}
{% block javascripts %}
    <script>
    document.getElementById("thera").addEventListener("click", function() {
      let userid = document.getElementById('userid').innerText;
      let f="Commande";
      let param=userid+"+Le stock taxe a été modifié";
      let thera=new XMLHttpRequest();
      thera.onload=function ()
      {
        if(this.status == 200)
        {
          console.log("request ok");
          /*thera.open("POST",superLink+"/audit/altererstocktaxe",true);
          thera.send(param);*/
        }
      }
      if(f)
      {
        thera.open("POST",superLink+"/audit/altererstocktaxe",true);
        thera.send(param);
      }
    });
    </script>
{% endblock %}

{% block body %}
<div id="userid" style="display:none;">
    {{ app.user.id }}
 </div>
      <div class="box box-default">
          <div class="box-header with-border">
          <div class="col-md-6">
            <h4></h4>
          </div>
          <div class="col-md-6 text-right">
            <a class="btn btn-info" href="{{ path('stock_taxe_listertaxe') }}"><i class="fa fa-list"></i>&nbsp;<big>Liste des Stocks Taxe</big></a>
          </div>
          </div>
          <!-- /.box-body -->
        </div>
<div class="box box-solid box-primary">
            <div class="box-header">
                <h3 class="box-title">Modification du Stock</h3>   
            </div>
            <div class="box-body">
    {{ include('stock_taxe/_form.html.twig', {'button_label': 'Modifier'}) }}
   </div>
</div>
    {{ include('stock_taxe/_delete_form.html.twig') }}
{% endblock %}
