{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{% block title %}New Section{% endblock %}

{% block body %}
    <!--h1>Create new Section</h1-->
<div class="box box-default">
          <div class="box-header with-border">
            <a class="btn btn-info" href="{{ path('section_index') }}">Retour</a>
          </div>
          <!-- /.box-body -->
        </div>
<div class="box box-solid box-default">
    <div class="box-header">
        <h3 class="box-title">Ajouter une nouvelle section</h3>   
    </div>
    <div class="box-body">
        {{ include('section/_form.html.twig') }}
    </div>
</div>
{% endblock %}
