{% extends 'base.html.twig' %}

{% block title %}Edit Classe{% endblock %}

{% block body %}
    <h1>Edit Classe</h1>

    {{ include('classe/_form.html.twig', {'button_label': 'Update'}) }}

<<<<<<< HEAD
    <a href="{{ path('classe_index') }}">back to list</a>
=======
    <a class="btn btn-info" role="button" href="{{ path('classe_index') }}">rerour a la liste</a>
>>>>>>> 30cd1a1c165ebc07c54ef2ee611f269f2a59cb83

    {{ include('classe/_delete_form.html.twig') }}
{% endblock %}
