{% extends 'base.html.twig' %}

{% block title %}New Classe{% endblock %}

{% block body %}
<div class="box box-default">
          <div class="box-header with-border">
            <a class="btn btn-info" href="{{ path('classe_index') }}">Retour</a>
          </div>
</div>
<div class="box box-solid box-default">
    <div class="box-header">
        <h3 class="box-title">Ajouter une nouvelle classe</h3>   
    </div>
    <div class="box-body">
        {{ include('classe/_form.html.twig') }}
    </div>
</div>
    

{% endblock %}
