<form method="post" action="{{ path('commande_ptb_delete', {'id': commande_ptb.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande_ptb.id) }}">
    <button class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i>&nbsp;<big>Supprimer</big></button>
</form>
