{% extends 'base.html.twig' %}

{% block title %}New CommandePtb{% endblock %}

{% block body %}
    <h1>Create new CommandePtb</h1>

    {{ include('commande_ptb/_form.html.twig') }}

    <a href="{{ path('commande_ptb_index') }}">back to list</a>
{% endblock %}
