{% extends 'base.html.twig' %}

{% block title %}Edit Ptb{% endblock %}

{% block body %}

<div class="box box-default">
          <div class="box-header with-border">
            <a class="btn btn-info" href="{{ path('ptb_index') }}">Retour</a>
          </div>
          <!-- /.box-body -->
        </div>
<div class="box box-solid box-default">
    <div class="box-header">
        <h3 class="box-title">Modifier le train ptb</h3>   
    </div>
    <div class="box-body">
        {{ include('ptb/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
</div>

    {{ include('ptb/_delete_form.html.twig') }}
{% endblock %}
