{% extends 'base.html.twig' %}

{% block title %}New Ptb{% endblock %}

{% block body %}
<div class="box box-default">
          <div class="box-header with-border">
            <a class="btn btn-info" href="{{ path('ptb_index') }}">Retour</a>
          </div>
          <!-- /.box-body -->
        </div>
<div class="box box-solid box-default">
    <div class="box-header">
        <h3 class="box-title">Ajouter un nouveau train ptb</h3>   
    </div>
    <div class="box-body">
        {{ include('ptb/_form.html.twig') }}
    </div>
</div>
{% endblock %}
