{% extends 'base.html.twig' %}

{% block title %}New Ptb{% endblock %}

{% block body %}

<h1>
    <big>
        Gestion des trains PTB
    </big>
</h1>
<div class="box box-default">
          <div class="box-header with-border">
          <div class="col-md-6">
            <h4><i class="fa fa-plus"></i>&nbsp;<big>Ajouter Train PTB</big></h4>
          </div>
          <div class="col-md-6 text-right">
            <a class="btn btn-info" href="{{ path('ptb_index') }}"><i class="fa fa-list"></i>&nbsp;<big>Liste des trains PTB</big></a>
          </div>
          </div>
        </div>
<div class="box box-solid box-primary">
    <div class="box-header">
        <h3 class="box-title">Ajouter un Nouveau Train PTB</h3>   
    </div>
    <div class="box-body">
      <div class="container">
        {{ include('ptb/_form.html.twig') }}
      </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  

  <script>

  {% if error is defined %}
    swal("Attention", "Ce train PTB existe déjà", "warning");
  {% endif %}
        
        var span = document.getElementsByClassName("close")[0];
        var modal = document.getElementById('myModal');
        span.onclick = function() 
        {
            modal.style.display = "none";
        }
        window.onclick = function(event) 
        {
            if (event.target == modal) 
            {
                modal.style.display = "none";
            }
        }

        function ajouter(){
          var libelle = document.getElementById("libelle").value;
          modal.style.display = "none";
          document.location.href = `http://localhost:8000/addLieuTrajet/${libelle}`;
          swal("Good job!", "Vous avez ajouté une gare", "success");
          

        }
        
        function mode()
        {
            var modal = document.getElementById('myModal');

            modal.style.display = "block";
          
        }
        
        
    </script>

{% endblock %}
