{% extends 'base.html.twig' %}

{% block title %}New Ptb{% endblock %}

{% block body %}
    <h1>Create new Ptb</h1>

    {{ include('ptb/_form.html.twig') }}

    <a href="{{ path('ptb_index') }}">back to list</a>
{% endblock %}
