{% extends 'base.html.twig' %}

{% block title %}Date{% endblock %}

{% block body %}
    <h1>Date</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ date.id }}</td>
            </tr>
            <tr>
                <th>DateBillets</th>
                <td>{{ date.dateBillets ? date.dateBillets|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('date_edit', {'id': date.id}) }}">Modifier</a>
{% endblock %}
