{% extends 'base.html.twig' %}

{% block title %}Edit Navette{% endblock %}

{% block body %}

<div class="box box-default">
          <div class="box-header with-border">
                 <div class="col-md-6">
            <h4></h4>
          </div>
          <div class="col-md-6 text-right">
            <a class="btn btn-info" href="{{ path('navette_index') }}"><i class="fa fa-list"></i>&nbsp;<big>Liste des Navettes</big></a>
          </div>
          </div>
          <!-- /.box-body -->
        </div>
<div class="box box-solid box-primary">
    <div class="box-header">
        <h3 class="box-title">Modifier la navette</h3>   
    </div>
    <div class="box-body">
        {{ include('navette/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
</div>

    {{ include('navette/_delete_form.html.twig') }}
{% endblock %}
