{% extends 'base.html.twig' %}

{% block title %}Edit Navette{% endblock %}

{% block body %}
<div class="box box-solid box-default">
    <div class="box-header">
        <h3 class="box-title">Modifier la navette</h3>   
    </div>
    <div class="box-body">
        {{ include('navette/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
</div>

    <a class="btn btn-info" role="button" href="{{ path('navette_index') }}">retour a la liste</a>

    {{ include('navette/_delete_form.html.twig') }}
{% endblock %}
