{% extends 'base.html.twig' %}

{% block title %}New Trajet{% endblock %}

{% block body %}
    <h1>Create new Trajet</h1>

    {{ include('trajet/_form.html.twig') }}

<<<<<<< HEAD
    <a href="{{ path('trajet_index') }}">retour</a>
=======
    <a class="btn btn-info" role="button" href="{{ path('trajet_index') }}">back to list</a>
>>>>>>> 30cd1a1c165ebc07c54ef2ee611f269f2a59cb83
{% endblock %}
