{% extends 'base.html.twig' %}

{% block title %}New Trajet{% endblock %}

{% block body %}


<div class="box box-default">
          <div class="box-header with-border">
          <div class="col-md-6">
            <h4><i class="fa fa-plus"></i>&nbsp;<big>Ajouter Trajet</big></h4>
          </div>
          <div class="col-md-6 text-right">
            <a class="btn btn-info" href="{{ path('trajet_index') }}"><i class="fa fa-list"></i>&nbsp;<big>Liste Trajet</big></a>
            <!--button type="button" class="btn btn-warning" id="myBBtn" onclick="mode()"><i class="glyphicon glyphicon-plus"></i><big> Ajouter une gare</button-->
          </div>
          </div>
        </div>
<div class="box box-solid box-primary">
    <div class="box-header">
        <h3 class="box-title">Ajouter un nouveau trajet</h3>   
    </div>
    <div class="box-body">
      <div class="container">
        {{ include('trajet/_form.html.twig') }}
      </div>
    </div>
</div> 


{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <script>
  {% if error is defined %}
    swal("Attention", "Ce trajet existe déjà", "warning");
  {% endif %}
        
        var span = document.getElementsByClassName("close")[0];
        var modal = document.getElementById('myModal');
        span.onclick = function() 
        {
            modal.style.display = "none";
        }
        window.onclick = function(event) 
        {
            if (event.target == modal) 
            {
                modal.style.display = "none";
            }
        }

        function ajouter(){
          var libelle = document.getElementById("libelle").value;
          modal.style.display = "none";
          document.location.href = `http://localhost:8000/addLieuTrajet/${libelle}`;
          swal("Good job!", "Vous avez ajouté une gare", "success");
          

        }
        
        function mode()
        {
            var modal = document.getElementById('myModal');

            modal.style.display = "block";
          
        }
        
        
    </script>

{% endblock %}
