{% extends 'base.html.twig' %}

{% block title %}New Trajet{% endblock %}

{% block body %}
    <h1>Create new Trajet</h1>

    {{ include('trajet/_form.html.twig') }}

<<<<<<< HEAD
    <a class="btn btn-info" role="button" href="{{ path('trajet_index') }}">back to list</a>
=======
    <a href="{{ path('trajet_index') }}">retour</a>
>>>>>>> c78f1b554dbe737aa7d985890701381f80f1903f
{% endblock %}
