@media print {
    @page {
        size: landscape;

    }
    .inset {border-style: groove;
        width: 525px;
        height: 358px;
        float: none; page-break-before: always}
    .inset2 {border-style: groove;}
    .premiere-page {
        float: none;
    }
    .titre-principal p span.gras {
        -webkit-print-color-adjust: exact;
        font-family: Algerian;
        font-weight: bold;
        font-size: 15px;
    }
    .titre-principal {
        margin-top: 15px;
        /*margin-left: -160px;*/
        font-style: normal;
    }

    .titre-principal p span.petit-train {
        font-size: 15px;
    }

    .titre-principal p span {
        /*font-family: "Courier New", Courier, monospace;*/
        font-size: xx-large;
    }
    .milieu .cote-gauche .ligne span {
        -webkit-print-color-adjust: exact !important;
        background-color: #c4cd0a !important;
        -webkit-text-fill-color: rgb(0, 0, 0);
    }
    .marge {
        margin-left: 20px;
    }
    .milieu .cote-gauche .ligne {
        margin-left: -40px;
    }

    .numero {
        font-family: Arial;
        font-size: 15px;
    }

    .ligne span {
        font-size: 10px;
    }
    .ligne {
        padding: 25px;
        margin-top: -35px;
    }

    img.picture {
        width: 110px;
        height: 120px;
        margin-top: 0px;
        margin-left: 60px;
    }

    .cote-milieu {
        margin-left: -70px;
    }

    .cote-milieu p {
        font-weight: bold;
        font-size: 10px;
    }

    .footer {
        margin-top: 50px;
    }

    .footer .noter-bien {
        -webkit-print-color-adjust: exact;
        /*-webkit-text-fill-color: rgba(17, 255, 196, 0.03);*/
        font-weight: bold;
        font-size: 12px;
        font-family: cursive;
        margin-left: 0px;
        margin-top: -20px;
    }

    .footer .footer-haut {
        -webkit-print-color-adjust: exact;
        /*-webkit-text-fill-color: rgba(17, 255, 196, 0.03);*/
        font-weight: bold;
        font-size: 10px;
        font-family: cursive;
        margin-left: 0px;
    }

    .footer .footer-bas {
        -webkit-print-color-adjust: exact;
        /*-webkit-text-fill-color: rgba(17, 255, 196, 0.03);*/
        font-weight: bold;
        font-size: 10px;
        font-family: cursive;
        margin-left: 0px;
    }


    .footer .tel {
        font-weight: bold;
        text-align: center;
    }
    .footer .adresse {
        text-align: center;
        font-weight: bold;
    }

    /*.seconde-page {*/
        /*float: none;*/
        /*page-break-before: always;*/

    /*}*/
    .seconde-page  {
        width: 525px;
        height: 358px;
    }

    .seconde-page .titre-content {
        text-align: center;
    }

    .principal-content {
        font-size: 10px;
    }

    #recommendationDate {
        font-weight: bold;
    }
    .seconde-page {
        float: none;
        page-break-before: always;

    }
}