{% extends 'base.html.twig' %}

{% block title %}Edit Vignette{% endblock %}

{% block body %}
    <h1>Modification Vignette</h1>

    {{ include('vignette/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('vignette_index') }}">Retour vers la liste</a>

    {{ include('vignette/_delete_form.html.twig') }}
{% endblock %}
