{% extends 'base.html.twig' %}

{% block title %}New Vignette{% endblock %}

{% block body %}
 <div class="box box-default">
          <div class="box-header with-border">
          <div class="col-md-6">
            <h4><i class="fa fa-plus"></i>&nbsp;<big>Créer un Billet Vignette</big></h4>
          </div>
          </div>
          <!-- /.box-body -->
        </div>
<div class="box box-solid box-primary">
    <div class="box-header">
    <h3 class="box-title">Ajouter un Nouveau Billet Vignette</h3>   
    </div>
    <div class="box-body">  
    {{ include('vignette/_form.html.twig') }}
 </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
  {% if error is defined %}
    swal("Attention", "Ce nom ou adresse mail existe déjà", "warning");
  {% endif %}
</script>
{% endblock %}