{% extends 'base.html.twig' %}

{% block title %}Edit VenteNavette{% endblock %}

{% block body %}
 <div class="box box-default">
          <div class="box-header with-border">
          <div class="col-md-6">
            <h4><i class="fa fa-list"></i>&nbsp;<big>Information sur la vente</big></h4>
          </div>
            <div class="col-md-6 text-right">
                <a class="btn btn-info" href="{{ path('vente_navette_index') }}"><i class="fa fa-list"></i>&nbsp; Liste Vente</a>
            </div>
          </div>
</div>
<div class="box box-solid box-primary">
    <div class="box-header">
        <h3 class="box-title">Modifier la vente</h3>   
    </div>
    <div class="box-body">
    {{ include('vente_navette/_form.html.twig', {'button_label': 'Modifier'}) }}
</div>
</div>

    {{ include('vente_navette/_delete_form.html.twig') }}
{% endblock %}
