{% extends 'base.html.twig' %}

{% block title %}New BilletNavette{% endblock %}

{% block body %}
<div class="box box-default">
          <div class="box-header with-border">
            <a class="btn btn-info" href="{{ path('billet_navette_index') }}">Retour</a>
          </div>
          <!-- /.box-body -->
        </div>
    <h1>Create new BilletNavette</h1>

    {{ include('billet_navette/_form.html.twig') }}
{% endblock %}
