{% extends 'base.html.twig' %}

{% block title %}New BilletNavette{% endblock %}

{% block body %}
    <h1>Create new BilletNavette</h1>

    {{ include('billet_navette/_form.html.twig') }}

    <a href="{{ path('billet_navette_index') }}">back to list</a>
{% endblock %}
