{% extends 'base.html.twig' %}

{% block title %}Edit Lieux{% endblock %}

{% block body %}
    <!--h1>Edit Lieux</h1-->

<div class="box box-solid box-default">
    <div class="box-header">
        <h3 class="box-title">Modifier le lieux {{lieux.libelle}}</h3>   
    </div>
    <div class="box-body">
        {{ include('lieux/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
</div>

    <a class="btn btn-info" role="button" href="{{ path('lieux_index') }}">retour a la liste</a>


    {{ include('lieux/_delete_form.html.twig') }}
{% endblock %}
