{% extends 'base.html.twig' %}

{% block title %}New Lieux{% endblock %}

{% block body %}
    <h1>Create new Lieux</h1>

    {{ include('lieux/_form.html.twig') }}

<<<<<<< HEAD
    <a class="btn btn-info" role="button" href="{{ path('lieux_index') }}">retour a la liste</a>
=======
    <a href="{{ path('lieux_index') }}">back to list</a>
>>>>>>> c78f1b554dbe737aa7d985890701381f80f1903f
{% endblock %}
