<form method="post" action="{{ path('guichet_delete', {'id': guichet.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ guichet.id) }}">
    <button class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i>&nbsp;<big>Supprimer</big></button>

</form>
