{% extends 'base.html.twig' %}

{% block title %}New Guichet{% endblock %}

{% block body %}
<div class="box box-default">
          <div class="box-header with-border">
            <a class="btn btn-info" href="{{ path('guichet_index') }}">Retour</a>
          </div>
          <!-- /.box-body -->
        </div>
<div class="box box-solid box-default">
    <div class="box-header">
        <h3 class="box-title">Ajouter un nouveau guichet</h3>   
    </div>
</div>
    <div class="box-body">
        {{ include('guichet/_form.html.twig') }}
    </div>
</div>
    
{% endblock %}
