{% extends 'base.html.twig' %}

{% block title %}New Guichet{% endblock %}

{% block body %}

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <form>
        <div class="form-group">
            <label for="nomGare"><big>Libelle</big></label>
            <input type="text"
              class="form-control" name="" id="libelle" aria-describedby="helpId" placeholder="Entrer une gare">
          </div>
    </form>
    <button  id="submit" onclick="ajouter()" class="btn btn-primary"><big>Ajouter</big></button>
  </div>
  

</div>

<div class="box box-default">
          <div class="box-header with-border">
          <div class="col-md-6">
            <h4><i class="fa fa-plus"></i>&nbsp;<big>Ajouter Guichet</big></h4>
          </div>
          <div class="col-md-6 text-right">
            <a class="btn btn-info" href="{{ path('guichet_index') }}"><i class="fa fa-list"></i>&nbsp;<big>Liste Guichet</big></a>
            <button type="button" class="btn btn-warning" id="myBBtn" onclick="print()"><i class="glyphicon glyphicon-plus"></i><big> Ajouter une gare</button>
          </div>
          </div>
          <!-- /.box-body -->
        </div>
<div class="box box-solid box-primary">
    <div class="box-header">
        <h3 class="box-title">Ajouter un nouveau Guichet</h3>   
</div>
    <div class="box-body">
        {{ include('guichet/_form.html.twig') }}
    </div>
</div>
    
{% endblock %}
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script>
        
        var span = document.getElementsByClassName("close")[0];
        var modal = document.getElementById('myModal');
        span.onclick = function() 
        {
            modal.style.display = "none";
        }
        window.onclick = function(event) 
        {
            if (event.target == modal) 
            {
                modal.style.display = "none";
            }
        }

        function ajouter(){
          var libelle = document.getElementById("libelle").value;
          modal.style.display = "none";
          document.location.href = `http://localhost:8000/addLieuGuichet/${libelle}`;
          /*swal({
                title: "Etes vous sûr ?",
                text: "Cliquez sur ok pour un réabonnement ou cancel pour annuler!",
                icon: "warning",
                buttons: true,
                // dangerMode: true,
            })*/
          

        }
        
        function print()
        {
            var modal = document.getElementById('myModal');

            modal.style.display = "block";
          
        }
        
        
    </script>

{% endblock %}
