{% extends 'base.html.twig' %}

{% block title %}New Guichet{% endblock %}

{% block body %}
    <h1>Create new Guichet</h1>

    {{ include('guichet/_form.html.twig') }}

<<<<<<< HEAD
    <a href="{{ path('guichet_index') }}">retour</a>
=======
    <a class="btn btn-info" role="button" href="{{ path('guichet_index') }}">retour a la liste</a>
>>>>>>> 30cd1a1c165ebc07c54ef2ee611f269f2a59cb83
{% endblock %}
