{% extends 'base.html.twig' %}

{% block title %}New Guichet{% endblock %}

{% block body %}
    <h1>Create new Guichet</h1>

    {{ include('guichet/_form.html.twig') }}

<<<<<<< HEAD
    <a class="btn btn-info" role="button" href="{{ path('guichet_index') }}">retour a la liste</a>
=======
    <a href="{{ path('guichet_index') }}">retour</a>
>>>>>>> c78f1b554dbe737aa7d985890701381f80f1903f
{% endblock %}
