<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header"><span class="close" style="color: red;">&times;</span></div>

    <div class="modal-body">
        <form>
        <div class="form-group">
            <label for="nomGare"><big>Libelle</big></label>
            <input type="text"
              class="form-control" name="" id="libelle" aria-describedby="helpId" placeholder="Selectionner Image">
          </div>
        </form>
    </div>

    <div class="modal-footer left">
        <button  id="submit" onclick="ajouter()" class="btn btn-primary"><big>Ajouter</big></button>
    </div>
  </div>
  

</div>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}



<style>
    .cs{
       position: relative;
       top: 1.55em;
       left: 1.7em; 
    }

    .cs2{
       position: relative;
       top: 1.55em;
       left: 1.7em; 
    }
</style>

  <script>
        
        var span = document.getElementsByClassName("close")[0];
        var modal = document.getElementById('myModal');
        span.onclick = function() 
        {
            modal.style.display = "none";
        }
        window.onclick = function(event) 
        {
            if (event.target == modal) 
            {
                modal.style.display = "none";
            }
        }

        function ajouter(){
          var libelle = document.getElementById("libelle").value;
          modal.style.display = "none";
          document.location.href = `http://localhost:8000/ModifierimageUser/${libelle}`;
          swal("Good job!", "Vous avez ajouté une gare", "success");
          

        }
        
        function mode()
        {
            var modal = document.getElementById('myModal');

            modal.style.display = "block";
          
        }
        
        
    </script>
