{% extends 'base.html.twig' %}

{% block title %}New CommandeTaxe{% endblock %}

{% block body %}
    <h1>Create new CommandeTaxe</h1>

    {{ include('commande_taxe/_form.html.twig') }}

    <a href="{{ path('commande_taxe_index') }}">back to list</a>
{% endblock %}
